




header{
    background-color: rgb(193, 199, 199);
    height: 10rem;
    padding: 2rem;
    
}
nav ul{
    display: flex;
    justify-content: space-around  ;
}
nav ul li{
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    list-style: none;
    background-color: rgb(111, 87, 205);
    padding: 1rem;
    padding-right: 4rem;
    padding-left: 4rem;

}

#formulario{
    padding: 1rem;
    display: flex;
  
    gap: 4rem;
   
}


section{
    margin: 1rem;
    display: flex;
    background-color:rgb(193, 199, 199);
    justify-content: space-around;
   
    
    
}

.buscador{
        height: 1rem;
        width: 40rem;
        display: flex;
        gap: 1rem;
        
        align-items: center;
        
        
}
.boton{
    
    padding: 0.5rem;
    
    
}
.form{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    
    
}

#contenedor{
    border-top: 1px solid rgb(167, 167, 167);
    border-bottom:1px solid rgb(167, 167, 167);
   
}

div {
    margin: 1rem;
    display: flex;
    gap: 15rem;
   
    align-items: center;

}

